body{
    background-color: rgb(237, 246, 250);
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    border:2px solid black;
    background-color: yellow;
    gap: 10px;
}

div{
    margin: 10px;
    padding: 20px;
    border:1px solid black;
    text-align: center;
    background-color: rgb(82, 240, 9);
    color: blue;
    font-weight: 700;
    text-decoration: underline;
}

p{
    margin: 10px;
    padding: 20px;
    border:2px solid black;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 15px;
    color:green;
}